<div id="menuContainer" class="menu-container">
    <div id="menu" class="menu">
        <div class="menu-item" id="line">
            <div class="menu-icon">
                <i class="fa-solid fa-slash"></i>
            </div>
            <div class="menu-content">
                <h4>Lines</h4>
                <p>Create straight line segments</p>
            </div>
        </div>
        <div class="menu-item" id="polygon">
            <div class="menu-icon">
                <i class="fas fa-draw-polygon"></i>
            </div>
            <div class="menu-content">
                <h4>Polygons</h4>
                <p>Build multi-sided shapes</p>
            </div>
        </div>
        <div class="menu-item" id="ellipse">
            <div class="menu-icon">
                <i class="fa-solid fa-circle"></i>
            </div>
            <div class="menu-content">
                <h4>Ellipses</h4>
                <p>Draw circles and ovals</p>
            </div>
        </div>
        <div class="menu-item" id="curve">
            <div class="menu-icon">
                <i class="fa-solid fa-wave-square"></i>
            </div>
            <div class="menu-content">
                <h4>Curves</h4>
                <p>Create smooth curves through functions</p>
            </div>
        </div>
    </div>
        <button id="toggleMenu" class="menu-toggle-button">
        <i class="fa-solid fa-shapes"></i>
        <span class="tooltip">Shape Tools</span>
    </button>
</div>