<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Minkowski Sum Visualizer{% endblock %}</title>
    <link rel="icon" type="image/png" href="static/images/logo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/10.6.4/math.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/notyf@3.7.0/notyf.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/notyf@3.7.0/notyf.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<body>
    <div class="page-container">
        {% block header %}
        {% endblock %}
        
        {% block content %}
        {% endblock %}
        
        {% block footer %}
        {% endblock %}
    </div>

    <script>
        const notyf = new Notyf();
    
        window.alert = function(message) {
            notyf.open({
                type: 'info',
                message: message,
                duration: 3000,
                backgroundColor: '#6F8FAF',
                ripple: false,
            });
        };
    </script>
    
    <!-- Librerías de animación -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    
    {% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/graph/main.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/includes/menu.js') }}"></script>
    {% endblock %}
</body>
</html>